html,
body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  color: white;
}
html body,
body body {
  width: 100%;
  height: 100%;
}
#canvas {
  width: 854px;
  height: 480px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.75);
  background: white;
}
#video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  display: none;
}
nav {
  display: flex;
  flex-flow: row;
  margin-top: 50px;
}
nav #start {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: #004b00;
  color: white;
  text-transform: uppercase;
  margin-right: 50px;
  cursor: pointer;
}
nav #stop {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #530000;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  margin-left: 50px;
  cursor: pointer;
}
